body {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
}
section {
  padding-bottom: 80px;
}
.navbar ul li a {
  font-size: 16px;
  color: #00000096;
}
.edu-master {
  font-style: italic;
  color: #198754;
}
/* banner css */

.image {
  position: relative;
  width: 100%;
}
.image img {
  width: 100%;
  vertical-align: top;
}
.image:after {
  content: "\A";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: all 1s;
  -webkit-transition: all 1s;
  opacity: 1;
}

.span carousel-control-prev-icon,
carousel-control-next-icon {
  color: #fff !important;
  font-weight: 700;
  z-index: 2;
}
/* heading css */
.heading {
  margin: 100px auto;
}
.heading h1 {
  font-size: 40px;
  font-weight: 500;
}
.heading p {
  font-size: 18px;
  font-weight: 400;
}
/* card css */
.single-card {
  margin-bottom: 20px;
}
.card-title {
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 15px;
}
.description {
  font-size: 18px;
  font-weight: 400;
}
.course-price {
  font-size: 20px;
  color: #2164f5;
}
.card-img img {
  width: 80%;
}
/* explore part css */
.explore-content {
  margin-left: 20px;
}
.explore-content h2 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}
.explore-content p {
  font-size: 18px;
  font-weight: 400;
}
/* register css */
.register-bg {
  padding: 100px 50px;
  border-radius: 5px;
}
#register h2 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}
#registert p {
  font-size: 18px;
  font-weight: 400;
}
.fa-star {
  color: orange;
}
.social-icon {
  background-color: #fff;
  color: #198754;
  font-size: 20px;
}
/* Responsive */
/*  Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767) {
  section {
    padding-bottom: 60px;
  }
  .edu-master {
    font-size: 40px;
  }

  .heading {
    width: 473px;
    margin: 50px auto;
  }
  .heading h1 {
    font-size: 30px;
    font-weight: 500;
  }
  .card-img {
    margin-left: auto !important;
    margin-right: auto !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .single-card {
    padding-top: 10px;
    border: 1px solid #e8e8e8 !important;
    border-radius: 10px !important;
  }
  .explore-img img {
    padding: 20px;
  }
}

/*  Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991) {
  .explore-content {
    padding-top: 0 !important;
  }
}
.explore-img img {
  width: 100% !important;
}
.explore-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .top-c {
    padding-bottom: 150px;
    z-index: 999;
  }
  .top-c h2 {
    font-size: 50px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
  }
  .top-c p {
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
  }
  .top-c button {
    color: #fff;
  }
}
